.admin-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDEBAR */
.sidebar {
  width: 250px;
  background: #111;
  color: white;
}

/* RIGHT SIDE */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOP NAVBAR */
.navbar {
  height: 60px;
  background: #222;
  color: white;
}

/* PAGE AREA */
.page-content {
  flex: 1;
  padding: 20px;
  background: #f5f5f5;
  overflow-y: auto;
}